body {
  display: grid;
  place-items: center;
  height: 100px;
}

.dark {
  background-color: #212529;
}

.light .text {
  color: black;
}

.dark .text {
  color: azure;
}
.dark .jumbotron {
  border-color: white;
}
.dark .content {
  border-color: whitesmoke;
}
.light .special {
  background-color: #212529;
}
.dark.special {
  background-color: aliceblue;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 300px;
  width: 90vw;
  border-radius: 20px;
  padding-left: 50px;
  border-style: solid;
  border-width: 2.5px;
}

.orange {
  color: orange;
}

nav {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
  transition: all 1s ease-in-out;
  width: 90vw;
}
.accordion {
  margin-top: 20px;
}

.next {
  display: grid;
  width: 90vw;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.content {
  border-style: solid;
  border-width: 2.5px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.icon {
  width: 5em;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.pos {
  position: relative;
  left: -15px;
}

.icon:hover {
  transform: scale(1.1);
}

.cent {
  display: flex;
  justify-content: center;
}

.dark .navs {
  border-style: solid;
  border-width: 1.5px;
  border-color: white;
}

.content:hover {
  transform: scale(1.02);
}
@media only screen and (max-width: 500px) {
  .next {
    display: flex;
    flex-direction: column;
  }
  h1.header {
    font-size: small;
  }
  .jumbotron {
    padding-left: 10px;
  }
  .icon {
    width: 2.5em;
  }
  .next {
    margin-bottom: 20px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4b4b4b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d3d3d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
