body {
  display: grid;
  place-items: center;
  height: 100px;
}
.jumbotron {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 300px;
  width: 90vw;
  border-radius: 20px;
  padding-left: 50px;
  border-style: solid;
  border-width: 2.5px;
}

.orange {
  color: orange;
}
.text {
  color: black;
}
nav {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
  transition: all 1s ease-in-out;
  width: 90vw;
}
.accordion {
  margin-top: 20px;
}
h1 {
  font-size: small;
}

.next {
  display: grid;
  width: 90vw;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.content {
  border-style: solid;
  border-width: 2.5px;
  border-radius: 10px;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.icon {
  width: 5em;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.pos {
  position: relative;
  left: -15px;
}

.icon:hover {
  transform: scale(1.1);
}
